@model IEnumerable<SepApplication02.Models.Session>

@{
    
    ViewBag.Title = "Index";
}

<h2>Sessions</h2>
 
<p>
    @Html.ActionLink("Create New", "Create", new {courseId = ViewBag.CourseId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            Course_Id
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id, courseId = ViewBag.CourseId }) |
            @Html.ActionLink("Details", "Details", new { courseId= ViewBag.CourseId, sessionId=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id, courseId = ViewBag.CourseId })
        </td>
    </tr>
}

</table>
